Repository cancervariants/disease-normalization, pull requests merged in 2023-10, with the labels that each got.

#149 cicd: update release.yml (publish python distribution to pypi)
  .github/workflows/release.yml
Labels: priority:low, ci/cd

#150 cicd: update release.yml (publish python distribution to pypi)
  .github/workflows/release.yml
Labels: priority:low, ci/cd

#151 test: update test data
  tests/data/do/do_2023-07-24.owl
  tests/data/mondo/fixture_mondo_2023-04-04.owl.tar.gz
  tests/data/mondo/fixture_mondo_2023-07-03.owl.tar.gz
  tests/data/ncit/ncit_23.06d.owl
  tests/data/omim/omim_2023-07-26.txt
  tests/unit/test_merge.py
  tests/unit/test_mondo.py
Labels: priority:medium

#162 feat!: merge concepts and source dynamodb tables
  README.md
  src/disease/database/dynamodb.py
  tests/unit/test_database.py
Labels: priority:low
